.jumbotron{
    padding: 5rem 2rem;
    background-color: #3A595C;
}
#cabe1{
    width: 100%;
}
#cabe2{
    width: 60%;
}
/* .col{
    border: 1px solid
} */
h2{
    color: #E1CACA
}
p{
    color: #E1CACA;
}