.jumbotron{
    padding: 5rem 2rem;
    background-color: #3A595C;
}
.jumbo2{
    padding: 5rem 0;
    background-color: #B9D6C8;
}
#cabe1{
    width: 100%;
}
.dok{
    width: 80%;
}
/* .col{
    border: 1px solid
} */
h2{
    color: #E1CACA
}
p{
    color: #E1CACA;
}
.ket p{
    color:black;
}